::-webkit-scrollbar{
    width: 0px;
}

body{
    background-image: radial-gradient(circle, #68557D, #0a0707);
    background-attachment: fixed;
    color: white;
}

.cabecalho{
    padding: 0 10px;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__menu{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.img_logo{
    position: absolute;
    left: 10px;
    width: 50px;
}

.btn_contato{
    position: absolute;
    right: 10px;
    padding: 20px 30px;
    border-radius: 2px;

    text-align: center;
    background-color: #68557D;
}

.cabecalho__menu__links{
    font: normal 600 18px monospace;
    text-decoration: none;
    color: white;
}

.apresenta{
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_icon img:hover{
    animation: invert-boucing 1.5s ease alternate infinite;
}

h1{
    font: normal 700 160px monospace;
    line-height: 120px;
}

.seta_animacao{
    animation: boucing 1.5s ease-out alternate infinite;
}

@keyframes boucing {
    to {
       transform: translateY(30px); 
    }
}

@keyframes invert-boucing {
    to{
        transform: translateY(-30px);
    }
}