@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4fd;
    --cor-hover: #272727;

    --font-principal: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 70px;
}

.cabecalho__menu__links{
    font: 600 1.5rem var(--font-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.principal{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.principal__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.principal__conteudo__titulo{
    font-family: var(--font-principal);
    font-size: 2.25rem;
}

.principal__conteudo__titulo__destaque{
    color: var(--cor-terciaria);
}

.principal__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.principal__conteudo__lista{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.principal__conteudo__lista__links{
    color: var(--cor-terciaria);
    text-decoration: none;
}

.principal__conteudo__lista__links:hover{
    color: var(--cor-hover);
}

.principal__conteudo__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.principal__conteudo__links__subtitulo{
    font: normal 400 1.5rem var(--font-principal);
}

.principal__conteudo__links__ancora{
    /* Display flex */
    display: flex;
    justify-content: center;
    gap: 16px;
    /* Tamanho */
    width: 50%;
    padding: 21.5px 0;
    /* Fonte e borda */
    font: 600 1.5rem var(--font-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
}

.principal__conteudo__links__ancora:hover{
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

.principal__imagem{
    width: 50%;
}

.rodape{
    display: flex;
    justify-content: center;
    /* Posição e largura */
    padding: 24px;
    /* Cor e fonte */
    background-color: var(--cor-terciaria);
    font: 400 1.5rem var(--font-secundaria);
    color: var(--cor-primaria);
    text-align: center;
}

@media(max-width: 1200px){

    .cabecalho{
        padding: 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .principal{
        flex-direction: column-reverse;
        padding: 6% ;
    }

    .principal__conteudo{
        width: auto;
    }
}